[submodule "scripts/my-setup-scripts/scripts/dynamic-dns"]
	path = scripts/my-setup-scripts/scripts/dynamic-dns
	url = https://github.com/mjerta/dynamic-dns.git
[submodule "scripts/my-setup-scripts/scripts/vps-status-report"]
	path = scripts/my-setup-scripts/scripts/vps-status-report
	url = https://github.com/mjerta/vps-status-report.git
[submodule "wallpapers/.config/wallpapers"]
	path = wallpapers/.config/wallpapers
	url = git@github.com:JoydeepMallick/Wallpapers.git
[submodule "scripts/my-setup-scripts/scripts/ai-scripts"]
	path = scripts/my-setup-scripts/scripts/ai-scripts
	url = https://github.com/mjerta/ai-scripts.git
