/* @import "mocha.css"; */
@import "gruvbox.css";

/* Fonts and basics */
* {
  font-family: "MesloLGS Nerd Font Mono Bold";
  font-size: 9px;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background: transparent;
  transition-property: background-color;
  transition-duration: 0.1s;
  /* border-bottom: 1px solid @overlay1; */
}

/* Workspace Buttons */
#window {
  margin: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 10px;
}

#workspaces button {
  padding: 0 4px;
  color: #fff;
  background-color: @button-bg;
  border-radius: 6px;
  border: 1px solid @button-border;
  margin-right: 4px;
}

#workspaces button:hover {
  background-color: @button-hover-bg;
  color: @button-hover-text;
  border: 1px solid @button-hover-border;
}

#workspaces button.focused {
  background-color: rgba(0, 0, 0, 0.3);
}

#workspaces button.active {
  background-color: @base;
  color: @yellow;
  border: 1px solid @yellow;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

/* Shared custom button style */
.custom-button {
  padding: 0 4px;
  background-color: @base;
  color: @yellow;
  border: 1px solid @yellow;
  border-radius: 6px;

}

.custom-button:hover {
  background-color: @button-hover-bg;
  color: @button-hover-text;
  border-color: @button-hover-border;
}

.custom-button.active {
  padding: 0 4px;
  background-color: @base;
  color: @yellow;
  border: 1px solid @yellow;
  border-radius: 6px;

}

.custom-button.urgent {
  color: #fff;
  background-color: #eb4d4b;
  border-color: @red;
}

/* Apply custom-button to common custom modules */
#custom-weather,
#custom-chrome,
#custom-vpn {
  padding: 0 4px;
  background-color: @base;
  color: @yellow;
  border: 1px solid @yellow;
  border-radius: 6px;

}

#custom-weather:hover,
#custom-chrome:hover,
#custom-vpn:hover {
  background-color: @button-hover-bg;
  color: @button-hover-text;
  border-color: @button-hover-border;
}

/* Individual module tweaks */
#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
  margin: 2px 4px;
  padding: 0 4px;
}

#clock {
  padding: 0 4px;
  background-color: @base;
  color: @yellow;
  border: 1px solid @yellow;
  border-radius: 6px;
}

#clock.date {
  color: @mauve;
  border-bottom: 2px solid @mauve;
}

#pulseaudio {
  padding: 0 4px;
  background-color: @base;
  color: @yellow;
  border: 1px solid @yellow;
  border-radius: 6px;
}

#network {
  padding: 0 4px;
  background-color: @base;
  color: @yellow;
  border: 1px solid @yellow;
  border-radius: 6px;
}

#idle_inhibitor {
  margin-right: 12px;
  color: #7cb342;
}

#idle_inhibitor.activated {
  color: @red;
}

#battery {
  padding: 0 4px;
  background-color: @base;
  color: @yellow;
  border: 1px solid @yellow;
  border-radius: 6px;
}

/* Workspace margin tweaks */
.modules-left>widget:first-child>#workspaces {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 6px;
}

.modules-right>widget:last-child>#workspaces {}

.modules-right {
  margin-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
}
